<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073035466768-h0r2ue1glk4gqof2n49tuvgksjru68d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073035466768-h0r2ue1glk4gqof2n49tuvgksjru68d2</string>
	<key>API_KEY</key>
	<string>AIzaSyDr7TqljT-qiApajob5UIdGPSdyZy-f7vs</string>
	<key>GCM_SENDER_ID</key>
	<string>1073035466768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.destructive.shokuniconsumer</string>
	<key>PROJECT_ID</key>
	<string>shokuni-6afaa</string>
	<key>STORAGE_BUCKET</key>
	<string>shokuni-6afaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073035466768:ios:9cf2a255100c55a4139295</string>
</dict>
</plist>